@model Project.Models.Persona

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntIdPersona" />
            <div class="form-group">
                <label asp-for="StrApellidoPersona" class="control-label"></label>
                <input asp-for="StrApellidoPersona" class="form-control" />
                <span asp-validation-for="StrApellidoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrDireccion" class="control-label"></label>
                <input asp-for="StrDireccion" class="form-control" />
                <span asp-validation-for="StrDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrGenero" class="control-label"></label>
                <input asp-for="StrGenero" class="form-control" />
                <span asp-validation-for="StrGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrNombrePersona" class="control-label"></label>
                <input asp-for="StrNombrePersona" class="form-control" />
                <span asp-validation-for="StrNombrePersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrTelefono" class="control-label"></label>
                <input asp-for="StrTelefono" class="form-control" />
                <span asp-validation-for="StrTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntIdBarrio" class="control-label"></label>
                <input asp-for="IntIdBarrio" class="form-control" />
                <span asp-validation-for="IntIdBarrio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntIdTipoPersona" class="control-label"></label>
                <input asp-for="IntIdTipoPersona" class="form-control" />
                <span asp-validation-for="IntIdTipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
